.block {
  --size: 100px;
  position: relative;
  width: var(--size);
  height: var(--size);
  mask-position: center;
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-composite: source-in;
  -webkit-mask-position: center;
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-composite: source-in;
  -webkit-mask-composite: intersect;
  background-image: url('../../assets/gory_vershiny_sumerki_1146019_1280x720.jpg');
  cursor: pointer;
}

.block__circle {
  position: absolute;
  background-color: aqua;
  border-radius: 50%;
}

.block__circle_left {
  top: 50%;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}

.block__circle_right {
  top: 50%;
  right: 0;
  transform: translateX(50%) translateY(-50%);
}

.block__circle_top {
  top: 0;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
}

.block__circle_bottom {
  bottom: 0;
  right: 50%;
  transform: translateX(50%) translateY(50%);
}

.block__wrapCircle {
  pointer-events: none;
  position: absolute;
  z-index: 10000;
}